.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  padding: 50px;
  width: 60vw;
  max-width: 550px;
  height: auto;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  &__title {
    font-size: 32px;
    text-align: center;
  }
  &__logo {
    transform: rotate(0deg);
    width: 50px;
  }
}
