.chats-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  min-width: 350px;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 100%;
    overflow-y: auto;
  }

  &__create {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
