.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  &__back {
    position: absolute;
    left: 0;
  }

  &__additionally {
    position: absolute;
    right: 0;
  }
}
