.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  text-align: center;

  white-space: pre-line;

  &__back {
    display: flex;
    position: absolute;
    left: 0;
  }

  &__additionally {
    display: flex;
    position: absolute;
    right: 0;
  }
}
