.image-previews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  &__container {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    overflow-x: auto;
  }
  &__preview {
    position: relative;
    flex-shrink: 0;
    border: 1px solid #000;
    img {
      height: 120px;
    }
  }
  &__remove {
    position: absolute;
    top: 0;
    right: 0;
  }
}
