.reserve-room {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 26px;
  }

  &__date-pickers {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  &__date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &-label {
      font-size: 20px;
    }
    &-input {
      width: 100%;
      text-align: center;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(62, 99, 138, 0.25);
      }

      &::placeholder {
        color: #999;
        opacity: 1;
        text-align: center;
      }

      &::-webkit-input-placeholder {
        text-align: center;
      }

      &:-moz-placeholder {
        text-align: center;
      }

      &::-moz-placeholder {
        text-align: center;
      }

      &:-ms-input-placeholder {
        text-align: center;
      }
    }
  }
}
