.hotel-room-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  background-color: #fffceb;
  padding: 20px;
  width: 100%;
  max-width: 345px;
  &__title {
    font-size: 28px;
  }

&__slider{
  height: 160px;
}

  &__description {
    font-size: 16px;
  }
}
