.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: solid 1px #000;
  border-radius: 15px;
  background: #fff;
  padding: 10px 5px;
  height: 24px;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    opacity: 1 !important;
    background-color: #fff !important;
    transform: scale(1);
  }
}
